In [1]:
from pyspark import SparkConf
from pyspark.sql import SparkSession, SQLContext
from pyspark.sql.functions import col

In [2]:
conf = SparkConf()  # create the configuration
conf.set("spark.jars", "./*.jar")  # set the spark.jars

spark = SparkSession.builder \
        .config(conf=conf) \
        .master("local") \
        .appName("ETL_F1_data") \
        .getOrCreate()

sc = spark.sparkContext
sqlContext = SQLContext(sc)

# Collecting raw data from mysql

## circuits

In [3]:
circuits_df = sqlContext.read.format('jdbc').options(
          url='jdbc:mysql://mysql:3306/raw_data',
          driver='com.mysql.jdbc.Driver',
          dbtable='circuits',
          user='root',
          password='mysecretpassword').load()
ci = circuits_df.alias("cir")

In [4]:
ci.show()

+---------+--------------+--------------------+------------+---------+--------+---------+----+--------------------+
|circuitId|    circuitRef|                name|    location|  country|     lat|      lng| alt|                 url|
+---------+--------------+--------------------+------------+---------+--------+---------+----+--------------------+
|        1|   albert_park|Albert Park Grand...|   Melbourne|Australia|-37.8497|  144.968|  10|http://en.wikiped...|
|        2|        sepang|Sepang Internatio...|Kuala Lumpur| Malaysia| 2.76083|  101.738|null|http://en.wikiped...|
|        3|       bahrain|Bahrain Internati...|      Sakhir|  Bahrain| 26.0325|  50.5106|null|http://en.wikiped...|
|        4|     catalunya|Circuit de Barcel...|    Montmeló|    Spain|   41.57|  2.26111|null|http://en.wikiped...|
|        5|      istanbul|       Istanbul Park|    Istanbul|   Turkey| 40.9517|   29.405|null|http://en.wikiped...|
|        6|        monaco|   Circuit de Monaco| Monte-Carlo|   Monaco| 43.7347|  7.42056|null|http://en.wikiped...|
|        7|    villeneuve|Circuit Gilles Vi...|    Montreal|   Canada|    45.5| -73.5228|null|http://en.wikiped...|
|        8|   magny_cours|Circuit de Nevers...| Magny Cours|   France| 46.8642|  3.16361|null|http://en.wikiped...|
|        9|   silverstone| Silverstone Circuit| Silverstone|       UK| 52.0786| -1.01694|null|http://en.wikiped...|
|       10|hockenheimring|      Hockenheimring|  Hockenheim|  Germany| 49.3278|  8.56583|null|http://en.wikiped...|
|       11|   hungaroring|         Hungaroring|    Budapest|  Hungary| 47.5789|  19.2486|null|http://en.wikiped...|
|       12|      valencia|Valencia Street C...|    Valencia|    Spain| 39.4589|-0.331667|null|http://en.wikiped...|
|       13|           spa|Circuit de Spa-Fr...|         Spa|  Belgium| 50.4372|  5.97139|null|http://en.wikiped...|
|       14|         monza|Autodromo Naziona...|       Monza|    Italy| 45.6156|  9.28111|null|http://en.wikiped...|
|       15|    marina_bay|Marina Bay Street...|  Marina Bay|Singapore|  1.2914|  103.864|null|http://en.wikiped...|
|       16|          fuji|       Fuji Speedway|       Oyama|    Japan| 35.3717|  138.927|null|http://en.wikiped...|
|       17|      shanghai|Shanghai Internat...|    Shanghai|    China| 31.3389|   121.22|null|http://en.wikiped...|
|       18|    interlagos|Autódromo José Ca...|   São Paulo|   Brazil|-23.7036| -46.6997|null|http://en.wikiped...|
|       19|  indianapolis|Indianapolis Moto...|Indianapolis|      USA|  39.795| -86.2347|null|http://en.wikiped...|
|       20|   nurburgring|         Nürburgring|     Nürburg|  Germany| 50.3356|   6.9475|null|http://en.wikiped...|
+---------+--------------+--------------------+------------+---------+--------+---------+----+--------------------+
only showing top 20 rows

## constructors

In [5]:
constructors_df = sqlContext.read.format('jdbc').options(
          url='jdbc:mysql://mysql:3306/raw_data',
          driver='com.mysql.jdbc.Driver',
          dbtable='constructors',
          user='root',
          password='mysecretpassword').load()
co = constructors_df.alias("co")

In [6]:
co.show()

+-------------+--------------+-----------+-----------+--------------------+
|constructorId|constructorRef|       name|nationality|                 url|
+-------------+--------------+-----------+-----------+--------------------+
|            1|       mclaren|    McLaren|    British|http://en.wikiped...|
|            2|    bmw_sauber| BMW Sauber|     German|http://en.wikiped...|
|            3|      williams|   Williams|    British|http://en.wikiped...|
|            4|       renault|    Renault|     French|http://en.wikiped...|
|            5|    toro_rosso| Toro Rosso|    Italian|http://en.wikiped...|
|            6|       ferrari|    Ferrari|    Italian|http://en.wikiped...|
|            7|        toyota|     Toyota|   Japanese|http://en.wikiped...|
|            8|   super_aguri|Super Aguri|   Japanese|http://en.wikiped...|
|            9|      red_bull|   Red Bull|   Austrian|http://en.wikiped...|
|           10|   force_india|Force India|     Indian|http://en.wikiped...|
|           11|         honda|      Honda|   Japanese|http://en.wikiped...|
|           12|        spyker|     Spyker|      Dutch|http://en.wikiped...|
|           13|           mf1|        MF1|    Russian|http://en.wikiped...|
|           14|    spyker_mf1| Spyker MF1|      Dutch|http://en.wikiped...|
|           15|        sauber|     Sauber|      Swiss|http://en.wikiped...|
|           16|           bar|        BAR|    British|http://en.wikiped...|
|           17|        jordan|     Jordan|      Irish|http://en.wikiped...|
|           18|       minardi|    Minardi|    Italian|http://en.wikiped...|
|           19|        jaguar|     Jaguar|    British|http://en.wikiped...|
|           20|         prost|      Prost|     French|http://en.wikiped...|
+-------------+--------------+-----------+-----------+--------------------+
only showing top 20 rows

## drivers

In [7]:
drivers_df = sqlContext.read.format('jdbc').options(
          url='jdbc:mysql://mysql:3306/raw_data',
          driver='com.mysql.jdbc.Driver',
          dbtable='drivers',
          user='root',
          password='mysecretpassword').load()
dr = drivers_df.alias("dr")

In [8]:
dr.show()

+--------+----------+------+----+---------+----------+----------+-----------+--------------------+
|driverId| driverRef|number|code| forename|   surname|       dob|nationality|                 url|
+--------+----------+------+----+---------+----------+----------+-----------+--------------------+
|       1|  hamilton|    44| HAM|    Lewis|  Hamilton|1985-01-07|    British|http://en.wikiped...|
|       2|  heidfeld|  null| HEI|     Nick|  Heidfeld|1977-05-10|     German|http://en.wikiped...|
|       3|   rosberg|     6| ROS|     Nico|   Rosberg|1985-06-27|     German|http://en.wikiped...|
|       4|    alonso|    14| ALO| Fernando|    Alonso|1981-07-29|    Spanish|http://en.wikiped...|
|       5|kovalainen|  null| KOV|   Heikki|Kovalainen|1981-10-19|    Finnish|http://en.wikiped...|
|       6|  nakajima|  null| NAK|   Kazuki|  Nakajima|1985-01-11|   Japanese|http://en.wikiped...|
|       7|  bourdais|  null| BOU|Sébastien|  Bourdais|1979-02-28|     French|http://en.wikiped...|
|       8| raikkonen|     7| RAI|     Kimi| Räikkönen|1979-10-17|    Finnish|http://en.wikiped...|
|       9|    kubica|    88| KUB|   Robert|    Kubica|1984-12-07|     Polish|http://en.wikiped...|
|      10|     glock|  null| GLO|     Timo|     Glock|1982-03-18|     German|http://en.wikiped...|
|      11|      sato|  null| SAT|   Takuma|      Sato|1977-01-28|   Japanese|http://en.wikiped...|
|      12| piquet_jr|  null| PIQ|   Nelson|Piquet Jr.|1985-07-25|  Brazilian|http://en.wikiped...|
|      13|     massa|    19| MAS|   Felipe|     Massa|1981-04-25|  Brazilian|http://en.wikiped...|
|      14| coulthard|  null| COU|    David| Coulthard|1971-03-27|    British|http://en.wikiped...|
|      15|    trulli|  null| TRU|    Jarno|    Trulli|1974-07-13|    Italian|http://en.wikiped...|
|      16|     sutil|    99| SUT|   Adrian|     Sutil|1983-01-11|     German|http://en.wikiped...|
|      17|    webber|  null| WEB|     Mark|    Webber|1976-08-27| Australian|http://en.wikiped...|
|      18|    button|    22| BUT|   Jenson|    Button|1980-01-19|    British|http://en.wikiped...|
|      19|  davidson|  null| DAV|  Anthony|  Davidson|1979-04-18|    British|http://en.wikiped...|
|      20|    vettel|     5| VET|Sebastian|    Vettel|1987-07-03|     German|http://en.wikiped...|
+--------+----------+------+----+---------+----------+----------+-----------+--------------------+
only showing top 20 rows

## lapTimes

In [9]:
lapTimes_df = sqlContext.read.format('jdbc').options(
          url='jdbc:mysql://mysql:3306/raw_data',
          driver='com.mysql.jdbc.Driver',
          dbtable='lapTimes',
          user='root',
          password='mysecretpassword').load()
lT = lapTimes_df.alias("lT")

In [10]:
lT.show()

+------+--------+---+--------+--------+------------+
|raceId|driverId|lap|position|    time|milliseconds|
+------+--------+---+--------+--------+------------+
|   841|      20|  1|       1|1:38.109|       98109|
|   841|      20|  2|       1|1:33.006|       93006|
|   841|      20|  3|       1|1:32.713|       92713|
|   841|      20|  4|       1|1:32.803|       92803|
|   841|      20|  5|       1|1:32.342|       92342|
|   841|      20|  6|       1|1:32.605|       92605|
|   841|      20|  7|       1|1:32.502|       92502|
|   841|      20|  8|       1|1:32.537|       92537|
|   841|      20|  9|       1|1:33.240|       93240|
|   841|      20| 10|       1|1:32.572|       92572|
|   841|      20| 11|       1|1:32.669|       92669|
|   841|      20| 12|       1|1:32.902|       92902|
|   841|      20| 13|       1|1:33.698|       93698|
|   841|      20| 14|       3|1:52.075|      112075|
|   841|      20| 15|       4|1:38.385|       98385|
|   841|      20| 16|       2|1:31.548|       91548|
|   841|      20| 17|       1|1:30.800|       90800|
|   841|      20| 18|       1|1:31.810|       91810|
|   841|      20| 19|       1|1:31.018|       91018|
|   841|      20| 20|       1|1:31.055|       91055|
+------+--------+---+--------+--------+------------+
only showing top 20 rows

## races

In [11]:
races_df = sqlContext.read.format('jdbc').options(
          url='jdbc:mysql://mysql:3306/raw_data',
          driver='com.mysql.jdbc.Driver',
          dbtable='races',
          user='root',
          password='mysecretpassword').load()
ra = races_df.alias("ra")

In [12]:
ra.show()

+------+----+-----+---------+--------------------+----------+-------------------+--------------------+
|raceId|year|round|circuitId|                name|      date|               time|                 url|
+------+----+-----+---------+--------------------+----------+-------------------+--------------------+
|     1|2009|    1|        1|Australian Grand ...|2009-03-29|1970-01-01 06:00:00|http://en.wikiped...|
|     2|2009|    2|        2|Malaysian Grand Prix|2009-04-05|1970-01-01 09:00:00|http://en.wikiped...|
|     3|2009|    3|       17|  Chinese Grand Prix|2009-04-19|1970-01-01 07:00:00|http://en.wikiped...|
|     4|2009|    4|        3|  Bahrain Grand Prix|2009-04-26|1970-01-01 12:00:00|http://en.wikiped...|
|     5|2009|    5|        4|  Spanish Grand Prix|2009-05-10|1970-01-01 12:00:00|http://en.wikiped...|
|     6|2009|    6|        6|   Monaco Grand Prix|2009-05-24|1970-01-01 12:00:00|http://en.wikiped...|
|     7|2009|    7|        5|  Turkish Grand Prix|2009-06-07|1970-01-01 12:00:00|http://en.wikiped...|
|     8|2009|    8|        9|  British Grand Prix|2009-06-21|1970-01-01 12:00:00|http://en.wikiped...|
|     9|2009|    9|       20|   German Grand Prix|2009-07-12|1970-01-01 12:00:00|http://en.wikiped...|
|    10|2009|   10|       11|Hungarian Grand Prix|2009-07-26|1970-01-01 12:00:00|http://en.wikiped...|
|    11|2009|   11|       12| European Grand Prix|2009-08-23|1970-01-01 12:00:00|http://en.wikiped...|
|    12|2009|   12|       13|  Belgian Grand Prix|2009-08-30|1970-01-01 12:00:00|http://en.wikiped...|
|    13|2009|   13|       14|  Italian Grand Prix|2009-09-13|1970-01-01 12:00:00|http://en.wikiped...|
|    14|2009|   14|       15|Singapore Grand Prix|2009-09-27|1970-01-01 12:00:00|http://en.wikiped...|
|    15|2009|   15|       22| Japanese Grand Prix|2009-10-04|1970-01-01 05:00:00|http://en.wikiped...|
|    16|2009|   16|       18|Brazilian Grand Prix|2009-10-18|1970-01-01 16:00:00|http://en.wikiped...|
|    17|2009|   17|       24|Abu Dhabi Grand Prix|2009-11-01|1970-01-01 11:00:00|http://en.wikiped...|
|    18|2008|    1|        1|Australian Grand ...|2008-03-16|1970-01-01 04:30:00|http://en.wikiped...|
|    19|2008|    2|        2|Malaysian Grand Prix|2008-03-23|1970-01-01 07:00:00|http://en.wikiped...|
|    20|2008|    3|        3|  Bahrain Grand Prix|2008-04-06|1970-01-01 11:30:00|http://en.wikiped...|
+------+----+-----+---------+--------------------+----------+-------------------+--------------------+
only showing top 20 rows

## results

In [13]:
results_df = sqlContext.read.format('jdbc').options(
          url='jdbc:mysql://mysql:3306/raw_data',
          driver='com.mysql.jdbc.Driver',
          dbtable='results',
          user='root',
          password='mysecretpassword').load()
re = results_df.alias("re")

In [14]:
re.show()

+--------+------+--------+-------------+------+----+--------+------------+-------------+------+----+-----------+------------+----------+----+--------------+---------------+--------+
|resultId|raceId|driverId|constructorId|number|grid|position|positionText|positionOrder|points|laps|       time|milliseconds|fastestLap|rank|fastestLapTime|fastestLapSpeed|statusId|
+--------+------+--------+-------------+------+----+--------+------------+-------------+------+----+-----------+------------+----------+----+--------------+---------------+--------+
|       1|    18|       1|            1|    22|   1|       1|           1|            1|  10.0|  58|1:34:50.616|     5690616|        39|   2|      1:27.452|        218.300|       1|
|       2|    18|       2|            2|     3|   5|       2|           2|            2|   8.0|  58|     +5.478|     5696094|        41|   3|      1:27.739|        217.586|       1|
|       3|    18|       3|            3|     7|   7|       3|           3|            3|   6.0|  58|     +8.163|     5698779|        41|   5|      1:28.090|        216.719|       1|
|       4|    18|       4|            4|     5|  11|       4|           4|            4|   5.0|  58|    +17.181|     5707797|        58|   7|      1:28.603|        215.464|       1|
|       5|    18|       5|            1|    23|   3|       5|           5|            5|   4.0|  58|    +18.014|     5708630|        43|   1|      1:27.418|        218.385|       1|
|       6|    18|       6|            3|     8|  13|       6|           6|            6|   3.0|  57|       null|        null|        50|  14|      1:29.639|        212.974|      11|
|       7|    18|       7|            5|    14|  17|       7|           7|            7|   2.0|  55|       null|        null|        22|  12|      1:29.534|        213.224|       5|
|       8|    18|       8|            6|     1|  15|       8|           8|            8|   1.0|  53|       null|        null|        20|   4|      1:27.903|        217.180|       5|
|       9|    18|       9|            2|     4|   2|    null|           R|            9|   0.0|  47|       null|        null|        15|   9|      1:28.753|        215.100|       4|
|      10|    18|      10|            7|    12|  18|    null|           R|           10|   0.0|  43|       null|        null|        23|  13|      1:29.558|        213.166|       3|
|      11|    18|      11|            8|    18|  19|    null|           R|           11|   0.0|  32|       null|        null|        24|  15|      1:30.892|        210.038|       7|
|      12|    18|      12|            4|     6|  20|    null|           R|           12|   0.0|  30|       null|        null|        20|  16|      1:31.384|        208.907|       8|
|      13|    18|      13|            6|     2|   4|    null|           R|           13|   0.0|  29|       null|        null|        23|   6|      1:28.175|        216.510|       5|
|      14|    18|      14|            9|     9|   8|    null|           R|           14|   0.0|  25|       null|        null|        21|  11|      1:29.502|        213.300|       4|
|      15|    18|      15|            7|    11|   6|    null|           R|           15|   0.0|  19|       null|        null|        18|  10|      1:29.310|        213.758|      10|
|      16|    18|      16|           10|    20|  22|    null|           R|           16|   0.0|   8|       null|        null|         8|  17|      1:32.021|        207.461|       9|
|      17|    18|      17|            9|    10|  14|    null|           R|           17|   0.0|   0|       null|        null|      null|null|          null|           null|       4|
|      18|    18|      18|           11|    16|  12|    null|           R|           18|   0.0|   0|       null|        null|      null|null|          null|           null|       4|
|      19|    18|      19|            8|    19|  21|    null|           R|           19|   0.0|   0|       null|        null|      null|null|          null|           null|       4|
|      20|    18|      20|            5|    15|   9|    null|           R|           20|   0.0|   0|       null|        null|      null|null|          null|           null|       4|
+--------+------+--------+-------------+------+----+--------+------------+-------------+------+----+-----------+------------+----------+----+--------------+---------------+--------+
only showing top 20 rows

## status

In [15]:
status_df = sqlContext.read.format('jdbc').options(
          url='jdbc:mysql://mysql:3306/raw_data',
          driver='com.mysql.jdbc.Driver',
          dbtable='status',
          user='root',
          password='mysecretpassword').load()
st = status_df.alias("st")

In [16]:
st.show()

+--------+------------+
|statusId|      status|
+--------+------------+
|       1|    Finished|
|       2|Disqualified|
|       3|    Accident|
|       4|   Collision|
|       5|      Engine|
|       6|     Gearbox|
|       7|Transmission|
|       8|      Clutch|
|       9|  Hydraulics|
|      10|  Electrical|
|      11|      +1 Lap|
|      12|     +2 Laps|
|      13|     +3 Laps|
|      14|     +4 Laps|
|      15|     +5 Laps|
|      16|     +6 Laps|
|      17|     +7 Laps|
|      18|     +8 Laps|
|      19|     +9 Laps|
|      20|    Spun off|
+--------+------------+
only showing top 20 rows

# Transform data

In [17]:
gp_results_df = re.join(dr, re.driverId == dr.driverId, how="inner") \
    .join(ra, re.raceId == ra.raceId, how="inner") \
    .join(co, re.constructorId == co.constructorId, how="inner") \
    .join(st, re.statusId == st.statusId, how="inner") \
    .where(col("position").isNotNull()) \
    .select(
        ra.year.alias("season"),
        ra.name.alias("grand_prix"),
        re.position.alias("pos_num"),
        re.points,
        dr.driverRef.alias("driver"),
        dr.nationality.alias("driver_nation"),
        co.constructorRef.alias("constructor"),
        co.nationality.alias("constructor_nation"),
        st.status
)
gr = gp_results_df.alias("gr")

In [18]:
gr.show()

+------+--------------------+-------+------+------------------+-------------+---------------+------------------+---------+
|season|          grand_prix|pos_num|points|            driver|driver_nation|    constructor|constructor_nation|   status|
+------+--------------------+-------+------+------------------+-------------+---------------+------------------+---------+
|  2019|   French Grand Prix|     20|   0.0|          grosjean|       French|           haas|          American|  Retired|
|  2018|   German Grand Prix|     16|   0.0|            alonso|      Spanish|        mclaren|           British|  Retired|
|  2012|Singapore Grand Prix|     18|   0.0|       bruno_senna|    Brazilian|       williams|           British|  Retired|
|  2013|Malaysian Grand Prix|     18|   0.0|         ricciardo|   Australian|     toro_rosso|           Italian|  Retired|
|  2012|   Indian Grand Prix|     22|   0.0|michael_schumacher|       German|       mercedes|            German|  Retired|
|  2013|  British Grand Prix|     19|   0.0|          grosjean|       French|       lotus_f1|           British|  Retired|
|  2010|Abu Dhabi Grand Prix|     21|   0.0|            trulli|      Italian|   lotus_racing|         Malaysian|Rear wing|
|  1953|  Italian Grand Prix|     15|   0.0|         cabantous|       French|            hwm|           British| +13 Laps|
|  1951|  Italian Grand Prix|      9|   0.0|               rol|      Italian|           osca|           Italian| +13 Laps|
|  1958|   French Grand Prix|     11|   0.0|         salvadori|      British|         cooper|           British| +13 Laps|
|  1956|  British Grand Prix|     11|   0.0|            gerard|      British|         cooper|           British| +13 Laps|
|  1960|   French Grand Prix|      9|   0.0|           gregory|     American|cooper-maserati|           British| +13 Laps|
|  1952|    Indianapolis 500|     18|   0.0|         stevenson|     American|   kurtis_kraft|          American| +13 Laps|
|  1956|    Indianapolis 500|     18|   0.0|            connor|     American|   kurtis_kraft|          American| +13 Laps|
|  1950|    Indianapolis 500|     21|   0.0|              hoyt|     American|   kurtis_kraft|          American| +13 Laps|
|  1958|   Monaco Grand Prix|      6|   0.0|           allison|      British|     team_lotus|           British| +13 Laps|
|  1955|Argentine Grand Prix|      7|   0.0|            schell|     American|       maserati|           Italian| +13 Laps|
|  1955|Argentine Grand Prix|      7|   0.0|             musso|      Italian|       maserati|           Italian| +13 Laps|
|  1955|Argentine Grand Prix|      7|   0.0|         mantovani|      Italian|       maserati|           Italian| +13 Laps|
|  1953|  Italian Grand Prix|     14|   0.0|        hans_stuck|       German|            afm|            German| +13 Laps|
+------+--------------------+-------+------+------------------+-------------+---------------+------------------+---------+
only showing top 20 rows

In [19]:
df = gp_results_df.groupBy("driver_nation")

In [20]:
df.sum("points").orderBy(col("sum(points)").desc()).show()

+-------------+-----------+
|driver_nation|sum(points)|
+-------------+-----------+
|      British|    8941.14|
|       German|     7810.5|
|      Finnish|     3875.5|
|    Brazilian|     3423.0|
|       French|    3028.33|
|   Australian|     2561.5|
|      Spanish|     2248.0|
|      Italian|    2030.66|
|     American|      996.0|
|     Austrian|      990.5|
|        Dutch|      975.0|
|    Argentine|     695.92|
|      Mexican|      675.0|
|New Zealander|      541.5|
|     Canadian|      409.0|
|      Swedish|      396.0|
|      Belgian|      388.0|
|        Swiss|      348.0|
|   Monegasque|      307.0|
|    Colombian|      307.0|
+-------------+-----------+
only showing top 20 rows

In [21]:
circutis_laps_df = lT.join(dr, lT.driverId == dr.driverId, how="inner") \
    .join(ra, lT.raceId == ra.raceId, how="inner") \
    .join(ci, ra.circuitId == ci.circuitId, how="inner") \
    .where(col("milliseconds").isNotNull()) \
    .select(
        ci.circuitRef.alias("circuit"),
        ra.year.alias("season"),
        dr.driverRef.alias("driver"),
        lT.time.alias("time_str"),
        lT.milliseconds.alias("time_ms")
)
cl = circutis_laps_df.alias("cl")

In [22]:
cl.show()

+-------+------+--------------+--------+-------+
|circuit|season|        driver|time_str|time_ms|
+-------+------+--------------+--------+-------+
| ricard|  2019|max_verstappen|1:45.972| 105972|
| ricard|  2019|max_verstappen|1:37.252|  97252|
| ricard|  2019|max_verstappen|1:37.465|  97465|
| ricard|  2019|max_verstappen|1:37.105|  97105|
| ricard|  2019|max_verstappen|1:36.865|  96865|
| ricard|  2019|max_verstappen|1:36.427|  96427|
| ricard|  2019|max_verstappen|1:36.522|  96522|
| ricard|  2019|max_verstappen|1:36.618|  96618|
| ricard|  2019|max_verstappen|1:36.265|  96265|
| ricard|  2019|max_verstappen|1:36.353|  96353|
| ricard|  2019|max_verstappen|1:36.039|  96039|
| ricard|  2019|max_verstappen|1:36.009|  96009|
| ricard|  2019|max_verstappen|1:36.075|  96075|
| ricard|  2019|max_verstappen|1:35.876|  95876|
| ricard|  2019|max_verstappen|1:36.011|  96011|
| ricard|  2019|max_verstappen|1:36.038|  96038|
| ricard|  2019|max_verstappen|1:36.272|  96272|
| ricard|  2019|max_verstappen|1:36.182|  96182|
| ricard|  2019|max_verstappen|1:36.546|  96546|
| ricard|  2019|max_verstappen|1:56.028| 116028|
+-------+------+--------------+--------+-------+
only showing top 20 rows

# Write data to the Vertica

In [23]:
opts_gr={
    "table": "gp_results",
    "db": "docker",
    "user": "dbadmin",
    "password": "",
    "host": "vertica"
}

In [24]:
gr.write.save(format="com.vertica.spark.datasource.DefaultSource", mode="overwrite", **opts_gr)

Py4JJavaError: An error occurred while calling o205.save.
: java.lang.Exception: ERROR: S2V.save(): did not pass the Vertica requirements pre-check.  The following problems were encountered: hdfs_url scheme should be 'hdfs', but user provided:null. hdfs_url path is not valid, user provided:. java.lang.IllegalArgumentException: Can not create a Path from an empty string
	at com.vertica.spark.s2v.S2V.save(S2V.scala:384)
	at com.vertica.spark.datasource.DefaultSource.createRelation(VerticaSource.scala:88)
	at org.apache.spark.sql.execution.datasources.SaveIntoDataSourceCommand.run(SaveIntoDataSourceCommand.scala:45)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult$lzycompute(commands.scala:70)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult(commands.scala:68)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.doExecute(commands.scala:86)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$execute$1.apply(SparkPlan.scala:131)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$execute$1.apply(SparkPlan.scala:127)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$executeQuery$1.apply(SparkPlan.scala:155)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.sql.execution.SparkPlan.executeQuery(SparkPlan.scala:152)
	at org.apache.spark.sql.execution.SparkPlan.execute(SparkPlan.scala:127)
	at org.apache.spark.sql.execution.QueryExecution.toRdd$lzycompute(QueryExecution.scala:83)
	at org.apache.spark.sql.execution.QueryExecution.toRdd(QueryExecution.scala:81)
	at org.apache.spark.sql.DataFrameWriter$$anonfun$runCommand$1.apply(DataFrameWriter.scala:676)
	at org.apache.spark.sql.DataFrameWriter$$anonfun$runCommand$1.apply(DataFrameWriter.scala:676)
	at org.apache.spark.sql.execution.SQLExecution$$anonfun$withNewExecutionId$1.apply(SQLExecution.scala:80)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:127)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:75)
	at org.apache.spark.sql.DataFrameWriter.runCommand(DataFrameWriter.scala:676)
	at org.apache.spark.sql.DataFrameWriter.saveToV1Source(DataFrameWriter.scala:285)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:271)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:748)